body {
  font-family: Arial;
  background: #f5f7fb;
}

nav {
  text-align: center;
  padding: 15px;
}

nav a {
  margin: 0 10px;
  text-decoration: none;
  font-weight: bold;
}

.card {
  background: white;
  max-width: 600px;
  margin: 30px auto;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}

button {
  background: #4f46e5;
  color: white;
  padding: 10px;
  border: none;
  width: 100%;
  margin-top: 15px;
}
