[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
apache-airflow-providers-http = "*"
apache-airflow = {extras = ["postgres"], version = "*"}

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.4"
